.form-product{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    /*padding-top: 5%;*/
    box-shadow: 2px 2px 3px 0 #d0d0d0;
    border-radius: 5px;
    font-size: 11px;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] { -moz-appearance:textfield; }
/*.product-id{*/
/*    display: none;*/
/*}*/

.icon-product{
    font-size: 120px;
    /*padding-bottom: 5%;*/
}

.icon-add-product{
    font-size: 20px;
    padding-inline: 0;
}

.div-product-data{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 50%;
}

.product-name{
    font-size: 2.5em;
}

.product-description{
    font-size: 1.2em;
}

#amount{
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-product{
    border: none;
    /*box-shadow: 2px 2px 3px 2px #dcdcdc;*/
    cursor: pointer;
    background-color: #00000020;
    border-radius: 3px;
    padding-inline: 10px;
    margin-inline: 3px;
}

.form-delete{
    padding-top: 20px;
}

.entries{
    padding-bottom: 3%;
}

.select-amount{
    border: none;
    outline: none;
    box-shadow: none;
    padding: 0;
    margin: 0;
}

.button-product-delete{
    border: none;
    background-color: white;
    cursor: pointer;
    border-radius: 10px;
}

@media (max-width: 786px) {
    .product-name{
        font-size: 2em;
    }

    .product-description{
        font-size: 1.1em;
    }

    .icon-product{
        font-size: 60px;
    }

    .icon-add-product{
        font-size: 15px;
    }
}